{% extends 'base.html' %}

{% block content %}
{% include 'banner_small.html' %}
<div class="bikes">
    <div class="mountain-sec">
            <h2>{{ bicycles_single_type.title }}</h2>
                {% for bike in current_bike %}
                    <div class="bike">
                        <img src="{{ bike.images.url }}"  alt=""/>
                        <div class="bike-cost">
                            <div class="bike-mdl">
                                <h4>{{ bike.titel }}<span>{{ bike.titel_model }}</span></h4>
                            </div>
                            <div class="bike-cart">
                                <form action='{% url 'cart:cart_add' bike.id %}' method="post">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <input  type="submit" class="buy" value="BUY NOW">
                                </form>
                        </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="fast-viw">
                            <a href='{% url "bicycles:bike_single" bike.pk %}'>Quick View</a>
                        </div>
                    </div>
                {% endfor %}
            <div class="clearfix"></div>

    </div>
</div>

{% endblock %}