{% load static %}

<section id="container" class="container">
        <div class="header">
            <div class="logo">
                <a href="{% url 'index' %}"><img src={% static "images/logo.png" %} alt=""/></a>
            </div>
            <div class="top-nav">
                <ul class="nav">
                    <li class="dropdown1"><a href="{% url 'bicycles:bicycles' %}">BICYCLES</a>
                        <ul class="dropdown2">
                            {% for type in index_bike_type %}
                                <li><a href="{% url "bicycles:bicycles_single" type.pk %}">{{ type.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="dropdown1"><a href="404.html">PARTS</a>
                        <ul class="dropdown2">
                            <li><a href="parts.html">CHAINS</a></li>
                            <li><a href="parts.html">TUBES</a></li>
                            <li><a href="parts.html">TIRES</a></li>
                            <li><a href="parts.html">DISC BREAKS</a></li>
                        </ul>
                    </li>
                    <li class="dropdown1"><a href="404.html">ACCESSORIES</a>
                        <ul class="dropdown2">
                            <li><a href="accessories.html">LOCKS</a></li>
                            <li><a href="accessories.html">HELMETS</a></li>
                            <li><a href="accessories.html">ARM COVERS</a></li>
                            <li><a href="accessories.html">JERSEYS</a></li>
                        </ul>
                    </li>
                    {% if 'manager' in user.groups.all.0.name or user.is_staff %}
                    <li class="dropdown1"><a>MANAGER</a>
                        <ul class="dropdown2">
                            <li><a href="{% url 'contact:contact' %}">MESSEGES</a></li>
                            <li><a href="{% url 'bicycles:categories_type' %}">CONTROL BIKE TYPE</a></li>
                            <li><a href="{% url 'bicycles:categories_brand' %}">CONTROL BIKE BRAND</a></li>
                            <li><a href="{% url 'bicycles:control_bicycles' %}">CONTROL BICYCLES</a></li>
                            </ul>
                    </li>
                    {% endif %}
                    {% if not request.user.is_authenticated %}
                    <li class="dropdown1"><a href="{% url 'login' %}">LOGIN</a>
                        <ul class="dropdown2">
                            {% if 'admin' in user.groups.all.0.name or user.is_staff %}
                            <li><a href="{% url 'register' %}">REGISTRATION</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}
                    {% if 'manager' in user.groups.all.0.name or user.is_staff %}
                    <li class="dropdown1"><a href="{% url 'logout' %}">LOGOUT</a>
                        <ul class="dropdown2">
                            {% if 'admin' in user.groups.all.0.name or user.is_staff %}
                            <li><a href="{% url 'register' %}">REGISTRATION</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}
                        <a class="shop" href="{% url 'cart:cart_detail' %}">
                            <img src={% static "images/cart.png" %} alt=""/>
                            {% with total_item=cart|length %}
                                {% if cart|length > 0 %}
                                {{ total_item }}item{{ total_item|pluralize }}
                                {% endif %}
                            {% endwith %}
                        </a>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
</section>